<section class="player">
    <div>
      <video src="./images/phone-video.mp4" autoplay muted loop playsinline class="player__video" aria-hidden="true"></video>
    </div>

    <div class="player__content">

      <h1 class="player__title">Winamp Player</h1>
      <h2 class="player__subtitle">
        Winamp aggregates the complete user need for their audio experience and offers features that help create a
        personal experience.
      </h2>
      <a href="#" class="player__button player__button--white" aria-label="Learn More">Learn More</a>

      <div class="player__download" role="region" aria-label="Download Section">
        <div class="player__download--buttons">
          <a href="#"><img src="./images/download-iphone-btn.avif" alt="Download on the App Store"></a>
          <a href="#"><img src="./images/download-google-btn.avif" alt="Get it on Google Play"></a>
        </div>
        <p class="player__text">and for the nostalgic</p>
        <div class="player__download--buttons">
          <a href="#"><img src="./images/download-legacy-btn.avif" alt="Download Legacy Player"></a>
          <a href="#"><img src="./images/download-dev-btn.png" alt="Legacy Player Developer"></a>
        </div>
      </div>

    </div>

  </section>