$gray: rgba(113, 113, 122, 1);
$white: #f4f4f5;
$black: #000;
$light-gray: #a4a4ad;
$hover-gray: #e4e4e5;
$hover-black: #1a1a1a;

$font-size-small: 13px;
$font-size-medium: 15px;
$font-size-large: 24px;
$font-size-xlarge: 67px;
$font-size-xxlarge: 68px;