@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

:host {
    display: block;
}

.hero {
    width: 1460px;
    padding: 20px;
    margin: 0 auto;


    &__content {
        @include mixins.grid-container(1fr 1fr, 100px);
        align-items: center;
    }

    &__title {
        font-size: variables.$font-size-xxlarge;;
        font-weight: 700;
        color: variables.$black;
    }

    &__text {
        font-size: variables.$font-size-large;
        font-weight: 500;
        color: variables.$gray;
        margin-bottom: 40px;
        text-wrap: balance;
        line-height: 32px;
    }

    &__image {
        width: 550px;
    }

    &__scroll {
        @include mixins.container-gap(5px);
        justify-content: center;
        margin-bottom: 40px;

        div {
            @include mixins.container();
            flex-direction: column;
            gap: 5px;
            justify-content: center;
        }

        small {
            font-size: variables.$font-size-small;
            font-weight: 500;
            color: variables.$gray;
        }
    }
}

.shake-vertical {
    animation: shake-vertical 1.0s ease-in-out infinite; 
  }
  
@keyframes shake-vertical {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-4px); 
    }
}