<section class="hero" role="region" aria-label="Hero Section">
    <div class="hero__content">
        <div>
            <h1 class="hero__title">What's next?</h1>
            <h4 class="hero__text">Winamp builds the tools that empower artists to manage their music and revenue while
                delivering a player that offers the perfect listening experience.</h4>
        </div>
        <img src="./images/main-photo.avif" alt="Three photos of people dancing" class="hero__image">
    </div>

    <div class="hero__scroll" role="region" aria-label="Scroll Section">
        <small>Scroll</small>
        <div>
            <img src="./images/mouse-icon.svg" alt="Image of a mouse icon">
            <img src="./images/arrow-icon.svg" alt="Image of an arrow icon" width="10px" class="shake-vertical">
        </div>
        <small>down</small>
    </div>
</section>