<section class="section">
    <div class="section__container">
      <div class="section__wrapper" #videoWrapper>
        <video src="./images/rec-studio.mp4" muted loop width="723px" id="section__video--studio" aria-hidden="true"></video>
        <h2>Learn more about the music industry</h2>
      </div>
  
      <div class="section__wrapper" #videoWrapper>
        <video src="./images/hi-five-video.mp4" muted loop width="723px" id="section__video--hands" aria-hidden="true"></video>
        <h2>Have any questions for the llamas or some ass whippin' feedback</h2>
      </div>
    </div>
  </section>
  