<div class="download" role="region" aria-label="Download Section">
    <div class="download__buttons">
      <a href="#"><img src="./images/download-iphone-btn.avif" alt="Download on the App Store"></a>
      <a href="#"><img src="./images/download-google-btn.avif" alt="Get it on Google Play"></a>
    </div>
    <p class="player__text">and for the nostalgic</p>
    <div class="download__buttons">
      <a href="#"><img src="./images/download-legacy-btn.avif" alt="Download Legacy Player"></a>
      <a href="#"><img src="./images/download-dev-btn.png" alt="Legacy Player Developer"></a>
    </div>
  </div>