<section class="container">
    <div>
      <video src="./images/macbook-video.mp4" autoplay muted loop playsinline
        class="container__video" aria-hidden="true"></video>
    </div>

    <div class="container__content">
      <div>
        <h1 class="container__title">Winamp <span>for Creators</span></h1>
        <h2 class="container__subtitle">Winamp for Creators is the all-in-one platform
          that empowers music creators by bringing together all the
          essential services they need to monetize their music.</h2>
      </div>
      <div class="container__buttons">
        <a href="#" class="container__button container__button--black">Get started</a>
        <a href="#" class="container__button container__button--no-color">Learn more</a>
      </div>
    </div>

  </section>