<footer class="footer">
    <div class="footer__logo">
      <a href="#" aria-label="Go to home">
        <img src="./images/logo.avif" alt="Winamp Logo">
      </a>
      <p>&copy; 2024 Winamp</p>
    </div>
    <div>
      <h4 class="footer__title">Helpful links</h4>
      <menu class="footer__menu">
        <li class="footer__list"><a href="#">Llama Group</a></li>
        <li><a href="#">For Creators</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Contact</a></li>
      </menu>
    </div>
    <div>
      <h4 class="footer__title">Legal</h4>
      <menu class="footer__menu">
        <li><a href="#">Legal Notice</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">General Terms of Use</a></li>
      </menu>
    </div>
    <div>
      <h4 class="footer__title">The app</h4>
      <menu class="footer__menu footer__menu--buttons">
        <li>
          <a href="#"><img src="./images/download-iphone-btn.avif" alt="Download on the App Store" class="footer__button"></a>
        </li>
        <li>
          <a href="#"><img src="./images/download-google-btn.avif" alt="Get it on Google Play" class="footer__button"></a>
        </li>
        <li>
          <a href="#"><img src="./images/download-legacy-btn.avif" alt="Download Legacy Player" class="footer__button"></a>
        </li>
        <li>
          <a href="#"><img src="./images/download-dev-btn.png" alt="Legacy Player Developer" class="footer__button"></a>
        </li>
      </menu>
    </div>
    <div>
      <h4 class="footer__title">Follow us</h4>
      <menu class="footer__social">
        <li><a href="#"><img src="./images/facebook-logo.svg" alt="Facebook logo"></a></li>
        <li><a href="#"><img src="./images/instagram-logo.svg" alt="Instagram logo"></a></li>
        <li><a href="#"><img src="./images/twitter-logo.svg" alt="Twitter Logo"></a></li>
        <li><a href="#"><img src="./images/youtube-logo.svg" alt="Youtube Logo"></a></li>
        <li><a href="#"><img src="./images/linkedin-logo.svg" alt="Linkedin Logo"></a></li>
      </menu>
    </div>
</footer>