<footer class="footer">
    <div class="footer__logo">
      <app-winamp-logo></app-winamp-logo>
      <p>&copy; 2024 Winamp</p>
    </div>
    <app-column-footer [title]="'Helpful links'" [items]="menuItems1" [isMenuImage]="false"></app-column-footer>
    <app-column-footer [title]="'Legal'" [items]="menuItems2" [isMenuImage]="false"></app-column-footer>
    <app-column-footer [title]="'The app'" [imageItems]="menuImageItems1" [isMenuImage]="true"></app-column-footer>
    <app-column-footer [title]="'Follow us'" [imageItems]="menuImageItems2" [isMenuImage]="true"></app-column-footer>
</footer>