<menu class="menu">
    <li class="menu__item">
      <a href="#" aria-label="Go to home">
        <i aria-hidden="true">
          <img src="./images/logo.avif" alt="Winamp Logo" width="113px">
        </i>
      </a>
    </li>
    <li class="menu__item">
      <a href="#" aria-label="Go to Player">
        Player
      </a>
    </li>
    <li class="menu__item">
      <a href="#" aria-label="Go to Creators">
        Creators
      </a>
    </li>
    <li class="menu__item">
      <a href="#" aria-label="Go to Learn">
        Learn
      </a>
    </li>
    <li class="menu__item">
      <a href="#" aria-label="Go to Press">
        Press
      </a>
    </li>
    <li class="menu__item">
      <a href="#" aria-label="Go to Jobs">
        Jobs
      </a>
    </li>
  </menu>